<div class="container">
  <div class="card mt-5" style="width: 50rem;">

    <div class="container car">
      <div class="card-trip">
        <%= image_tag('2ch.jpg') %>
        <div class="card-trip-infos">
          <div>
            <h2><%= @car.brand %></h2>
          </div>
          <div class="price">
            <h2 class="card-trip-pricing"><%= @car.price %> €/jour</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <h2 class="card-title">Votre réservation pour la  <%= @car.brand%> est complétée, en attente de validation </h2>
      <p class="card-text"><strong>From : <%=  @booking.start_date %> to <%=  @booking.end_date %> </strong></p>
      <p class="card-text"><strong><p>Total Price : <%= (@booking.end_date - @booking.start_date).to_i * @car.price %>€</p></strong></p>
      <%= link_to "Back", root_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
